params {
    n_cpus = 10
    output = "./refinement_output"
}

manifest {
    author          = "David Waite"
    version         = "0.7.0"
    nextflowVersion = ">=24.10.0"
}

def trace_timestamp = new java.util.Date().format( 'yyyyMMdd_HHmmss')

report {
    enabled = true
    file = "${params.output}/nf_report.${trace_timestamp}.html"
}

dag {
    enabled = true
    direction = "TB"
    file = "${params.output}/nf_dag.${trace_timestamp}.html"
}

timeline {
    enabled = true
    file = "${params.output}/nf_timeline.${trace_timestamp}.html"
}

process {

    withLabel: "low_cpu" {
        cpus = 1
    }

    withLabel: "!low_cpu" {
        cpus = "${params.n_cpus}"
    }
}
