manifest {
    author          = "David Waite"
    version         = "0.8.0"
    nextflowVersion = ">=24.10.0"
}

params {
    n_cpus = 10
    output = "refinement_analysis"
}

outputDir = "${params.output}"
def trace_timestamp = new java.util.Date().format('yyyyMMdd_HHmmss')

report {
    enabled = true
    file = "${outputDir}/logs/nf_report.${trace_timestamp}.html"
}

dag {
    enabled = true
    direction = "TB"
    file = "${outputDir}/logs/nf_dag.${trace_timestamp}.html"
}

timeline {
    enabled = true
    file = "${outputDir}/logs/nf_timeline.${trace_timestamp}.html"
}

process {
    withLabel: "low_cpu"  { cpus = 1                  }
    withLabel: "!low_cpu" { cpus = "${params.n_cpus}" }
}

profiles {
    standard {
        conda.enabled = true

        process {
            withLabel: "env_mapping"   { conda = "${projectDir}/envs/mapping.yaml"   }
            withLabel: "env_python"    { conda = "${projectDir}/envs/python3.yaml"   }
            withLabel: "env_samtools"  { conda = "${projectDir}/envs/mapping.yaml"   }
            withLabel: "env_utilities" { conda = "${projectDir}/envs/utilities.yaml" }
        }
    }

    nesi {
        process {
            withLabel: "env_mapping"   { module = "Bowtie2/2.5.4-GCC-12.3.0" }
            withLabel: "env_python"    { module = "Python/3.11.6-foss-2023a" }
            withLabel: "env_samtools"  { module = "SAMtools/1.21-GCC-12.3.0" }
            withLabel: "env_utilities" { module = "seqtk/1.4-GCC-11.3.0"     }
        }
    }
}
